* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fredoka;
}

.dices {
    width: 150px;
}

h1 {
    margin: 10px;
    color: rgb(224, 47, 136);
}

h2 {
    margin: 10px;
}

.dati-email {
    margin: 25px;
    font-size: 20px;
}

.figlio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 0;
    width: 660px;
    height: 330px;
    border: solid;
    border-radius: 30px;
    border-width: 10px;
    background-color: whitesmoke;
}